language: go
dist: focal
sudo: required
go:
  - 1.15.x

before_install:
  - go get github.com/stretchr/testify/assert

script:
  - make
  - make coverage

after_success:
  # send coverage reports to Codecov
  - bash <(curl -s https://codecov.io/bash) -f "!mock.go"
