[mysql]
# The host to connect to
host = 127.0.0.1
# TCP/IP port to conect to
port = 3306
# Username with privileges to run the dump
user = root
# User password
password = pwd
# Database to dump
database = xx
# Directory to dump files to
outdir = ./dumper-sql
# Split tables into chunks of this output file size. This value is in MB
chunksize = 128
# Session variables, split by ;
vars= "xx=xx;xx=xx;"

# Use this to restrict exported data. These are optional
[where]
sample_table1 = created_at >= DATE_SUB(NOW(), INTERVAL 7 DAY)
sample_table2 = created_at >= DATE_SUB(NOW(), INTERVAL 7 DAY)

# Use this to override value returned from tables. These are optional
[select]
user.salt = 'reset salt of all system users'
user.password = 'reset password of all system users'

customer.first_name = CONCAT('Bohu', id)
customer.last_name = 'Last'
